{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-div no-main-div home-section" >
        <div class="main-div no-main-div img-div-main height-0-mob no-mob" >
        <div class="home-img" >
            <img class="img-home-main img-home-main-top"
                style="background-image: url(assets/img/Homepage/fond_home.png);"
                src="assets/img/HBH_homepage.png">
                </div>
        </div>
        <div class="main-div no-main-div  div-home-mob" style="float: right">
            <div class="main-title-page slide-in-right">
                La société leader <br/>en gestion de <br/>projets de <br/>construction
            </div>
            <div class="main-div">
                <div>
                    <p class="intro-main-div">
                        Forte d’une équipe de collaborateurs expérimentés en bâtiment, principalement
                        ingénieurs et architectes, HBH offre un large choix de services. HBH propose
                        également des solutions adaptées pour accompagner tout Maître d’Ouvrage, public
                        <br/>ou privé au cours de ses projets de construction.
                    </p>
                </div>
            </div>
            <div class="main-div">
                <a href="{{ path('services') }}">
                    <button class="service-btn" style="background-color: #103182;color: white"><span>NOS SERVICES</span></button>
                </a>
            </div>
        </div>
        <div class="div-elmt-1">

            <img class="elmt-1 " src="assets/img/Homepage/element-graphic1.svg">
            
        </div>
    </div>
<div class="section-big-stone">
    <div
        class="main-div div-proj"
        style="color: white;background-color: #102242;text-align: center">
        <div >
            <div class="main-title-page big-padding-mob">
                <h1 class="montserrat-bold-white-50px title-page-resp">Nos projets</h1>
            </div>
            <div >
                <div class="div-p-home-proj" >
                    <p class="p-home-proj  montserrat-light-white-16px">
                        HBH mène vos projets de construction et améliore la sécurité
                        <br/>et la santé des travailleurs à travers tout le Luxembourg.
                    </p>
                </div>
            </div>

            <div class="slider-proj">
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $('.slider-proj').slick({
                    dots: false,
                    vertical: false,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    autoplay: false,
                    autoplaySpeed: 2000,
                    arrows: false,
                    responsive: [
                                    {
                                    breakpoint: 1500,
                                    settings: {
                                        slidesToShow: 4,
                                        slidesToScroll: 3
                                    }
                                    },
                                    {
                                    breakpoint: 1250,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 3
                                    }
                                    },
                                    {
                                    breakpoint: 925,
                                    settings: {
                                        slidesToShow:2,
                                        slidesToScroll: 2
                                    }
                                    },
                                    {
                                    breakpoint: 620,
                                    settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: 1
                                    }
                                    }
                                ]
                });
            </script>

            <div class="div-btn-nos-proj" style="text-align: center">
                <a class="link-nos-proj" href="{{ path('projets') }}">
                    <button class="btn-nos-proj"><span>NOS PROJETS</span></button>
                </a>
            </div>
        </div>
    </div>
           
</div>
 <div class="div-elmt-2"></div>
    <div class="main-div no-main-div">
        <div class="div-img-propos-main no-main-div " >
            <img class="img-propos-main  " src="assets/img/img2.png">
        </div>
        <div class="main-div a-propos-main-div" style="float: right;width: 50%">
            <div class="a-propos-main slide-in-left">
                À propos de HBH
            </div>
            <div class="main-div">
                <div class="title-propos-main">
                   <p class="p-propos-main">Créée en 1988, HBH est aujourd’hui une société leader en management de projets et en sécurité et santé dans le secteur
                    de la construction, qui est totalement indépendante des entreprises.</p>
                </div>
            </div>
        </div>
        <div class="text-center-mob">
            <a href="">
                <button class="btn-propos-main mb-110" style="background-color: #103182;color: white"><span>À PROPOS</span></button>
            </a>
        </div>
    </div>
               <div class="div-elmt-5 "></div>

      <div class="div-elmt-4 ">
            <img class="elmt-4 slide-in-right" src="assets/img/Homepage/element-graphic3.svg">
        </div>
     <div class="div-elmt-3">
            <img class="elmt-3" src="assets/img/Homepage/element-graphic2.svg">
        </div>
    <div
        class="main-div actu-main"
        style="color: white;background-color: #103182;text-align: center">
        <div >
            <div class="main-title-page">
                <h1 class="montserrat-bold-white-50px min-padding-elmt title-page-resp">Les actualités HBH</h1>
            </div>
            <div>
                <div class="p-home-proj p-actu montserrat-light-white-16px" >
                      Retrouvez les dernières actualités de HBH, de la gestion de projets et en matière de sécurité et santé dans le secteur
  de la construction.
                </div>
            </div>
        </div>
        <div class="slider-actu" style="color: white">
            <div class="slide " style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                </div>
            </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
            <div class="slide " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br />à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
        </div>
        <script type="text/javascript">
            $('.slider-actu').slick({
                dots: false,
                vertical: false,
                infinite: true,
                speed: 500,
                slidesToShow: 4,
                slidesToScroll: 4,
                autoplay: false,
                autoplaySpeed: 2000,
                arrows: false,
                  responsive: [
                                    {
                                    breakpoint: 1500,
                                    settings: {
                                        slidesToShow: 4,
                                        slidesToScroll: 3
                                    }
                                    },
                                    {
                                    breakpoint: 1250,
                                    settings: {
                                        slidesToShow: 3,
                                        slidesToScroll: 3
                                    }
                                    },
                                    {
                                    breakpoint: 925,
                                    settings: {
                                        slidesToShow:2,
                                        slidesToScroll: 2
                                    }
                                    },
                                    {
                                    breakpoint: 620,
                                    settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: 1
                                    }
                                    }
                                ]
            });
        </script>
         <div class="div-btn-nos-proj" style="text-align: center">
                <a class="link-nos-proj" href="{{ path('actualites') }}">
                    <button class="btn-nos-proj btn-main-actu"><span>NOS ACTUALITÉS</span></button>
                </a>
            </div>
    </div>
    <style>
        .slide {
            margin: 5px 20px;
        }
    </style>
{% endblock %}