{% extends 'base.html.twig' %}

{% block body %}
<div class="proj-div">
    <div class="main-div">
        <div class="main-title-page">
            Nos projets
        </div>
        <div class="div-elmt-projet-1">         
            <img class="elmt-projet-1" src="/assets/img/Nos_projets/element-graphic13.svg"/>
        </div>
        <div class="main-div" style="color: #24a6a4">
            <div style="float: left;width: 20%">
                MANAGEMENT DE PROJET
            </div>
            <div style="float: left;width: 20%">
                SÉCURITÉ & SANTÉ
            </div>
        </div>
        <div class="main-div projets-div">
        <a href="{{ path('projet') }}">
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div></a>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
            <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
        <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
        <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
        <div class="card-actu border-2px-teal-blue" style="background-color: white">
                <div class="slide-img">
                    <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                </div>
                <div class="slide-txt">
                    <div class="cat-slide-txt">Management de projet</div>
                    <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                </div>
                <div class="div-arrow ">
                    <a><img class="arrow-slide" src="/assets/img/arrow.png"></a>
                </div>
        </div>
        </div>
    </div>
</div>

    <div class="info-projet-div" >
    <div class="div-elmt-projet-2">
        <img class="elmt-projet-2" src="/assets/img/Nos_projets/menons_a_bien_vos_projets.png"/>
    </div>
        <div class="info-projet">
            <div class="div-info">
        <div class="main-title-div" style="color: white">
            <h1 class="title-info-projet">Ensemble, menons à bien vos projets</h1>
        </div>
        <div class="div-btn-info">
            <a href="{{ path('services') }}"><button class="btn-info-service" style="color: #103182;background-color: white;">NOS SERVICES</button></a>
            <a href="{{ path('contact') }}"><button class="btn-info-contact" style="color: white;background-color: #103182;border: 1px solid #24a6a4">CONTACTEZ-NOUS</button></a>
        </div>
        </div>
    </div>
    </div>
{% endblock %}