{% extends 'base.html.twig' %}

{% block body %}
<div class="div-main-actu main-div">
<div class="div-left-proj">
    <div class="div-title-actu">
        <h1 class="title-actu">Lorem ipsum dolor sit amet</h1>
        <p class="publication-actu"><span class="span-publi">PUBLIÉ LE</span><span> 07-06-2021</span></p>
    </div>
    <div class="div-img-actu">
        <img class="img-actu" src="{{ asset('assets/img/Nos_projets_single/exemple_projet.png') }}"/>
    </div>
    <div class="div-text-actu">
    <div >
        <h1 class="title-actu-text">Notre mission</h1>
        <p class="text-actu">Le groupe a mis l’accent sur le respect de l’environnement et vise une triple certification environnementale à dimension européenne (DGNB, BREEAM, HQE)</p>
</div>
    <div class="text-para">
        <h1 class="title-actu-text">Description du projet</h1>
        <p class="text-actu">Construction de 2 bâtiments reliés entre eux par un socle commun. L’un des bâtiments, de couleur blanche, comportera 14 étages tandis que l’autre, de couleur noire, comportera 6 étages. L’ensemble représentera une surface totale de 51.500m2. Le site comprendra également des espaces verts dont un parc avec terrasses et des chemins pédestres.</p>
</div>
</div>
 
</div>

<div class="div-right-proj">
    <div class="div-info-proj">
        <h1 class="title-new-actu margin-info-proj" >Informations du projet</h1>
        <p class="p-info-proj">Maître d’ouvrage : <span class="span-info-proj">BGL BNP PARIBAS</span></p>
        <p class="p-info-proj">Type de marché : <span class="span-info-proj">secteur bancaire</span></p>
        <p class="p-info-proj">Budget : <span class="span-info-proj">confidentiel</span></p>
        <p class="p-info-proj">Architecte : <span class="span-info-proj">M3 Architectes S.A.</span></p>
        <p class="p-info-proj">Délai : <span class="span-info-proj">30 mois</span></p>
        <p class="p-info-proj">Fin des travaux : <span class="span-info-proj">fin 2016</span></p>
        <div class="div-img-share-actu">
        <img class="img-share-actu" src="{{ asset('assets/img/Nos_projets_single/button_share.svg') }}" />
        </div>
    </div>

</div>
</div>
<div class="slider-container">
    <div class="div-title-slider">
        <img class="img-photo-proj" src="{{ asset('assets/img/Nos_projets_single/picto_photo.svg') }}"/>
        <h1 class="slider-title">Le projet en image</h1>
    </div>
<div class="slick-carou-1">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>
</div>
<div class="slider-container">
    <div class="div-title-slider">
        <h1 class="slider-title">Retour d'experience</h1>
    </div>
<div class="slick-carou-2">
  <div class="slide-com">
    <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
  <div class="slide-com">
   <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
  <div class="slide-com">
   <p class="date-slide-com">12.01.2017</p>
    <h1 class="title-slide-com">« Projet rondement bien mené.
Le management de projet est maîtrisé
d’une main de maître. »</h1>
<p class="author-slide-com">Lorem Ipsum, DG BNP Paribas Kirchberg</p>
  </div>
</div>
</div>
<div class="section-big-stone">
<div class="elmt-projet-simple-1"></div>
    <div
        class="main-div div-proj div-project">
        <div >
            <div class="main-title-page">
                <h1 class="montserrat-bold-white-50px">Ces projets vous intéresserons</h1>
            </div>
           

            <div class="slider-project slider-proj">
                <div class="slide slide-proj proj-float " style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide slide-proj proj-float" style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
                <div class="slide slide-proj proj-float" style="background-color: white">
                    <div class="slide-img">
                        <img class="hbh-img-slide" style="width: 100%;" src="/assets/img/slide-img.png">
                    </div>
                    <div class="slide-txt">
                        <div class="cat-slide-txt">Management de projet</div>
                        <div class="slide-txt-1">Nouveaux locaux de Lorem ipsum immobilier<br/>à Bertrange</div>
                    </div>
                    <div class="div-arrow ">
                        <a><img class="arrow-slide" src="/assets/img/arrow-teal.png"></a>
                    </div>
                </div>
          
            
      
            </div>

        

            
        </div>
    </div>
           
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-carou-1').slick({
        
      });
        $('.slick-carou-2').slick({
        
      });
    });
  </script>
{% endblock %}